extra
dist
real_estate_predictor2.0.egg-info
real_estate_predictor/storage/datasets/*
real_estate_predictor/processing/Untitled-1.ipynb
real_estate_ocr
.vscode/
real_estate_predictor.egg-info
!real_estate_predictor/datasets/.gitkeep
**/__pycache__/